@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  background-color: #1aabe2;
  color: white;
  max-width: 3000px;
  border-style: solid;
  border-width: 1px;
  border-color: #3e95ce;
  padding: 0 60px 0 60px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-color: #1b76b3;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 1rem;
  background-color: #1aabe2;
  margin-bottom: 40px;
  font-weight: bolder;
  text-shadow: #1a1a1a 1px 1px 1px;
}

form label {
  color: white;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #1a1a1a;
  border-radius: 5px;
  color: black;
}

.button {
  width: 100px;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #f87474;
  border-radius: 5px;
  background-color: #f87474;
  color: white;
  font-weight: bolder;
  text-shadow: #1a1a1a 1px 1px 1px;
  box-shadow: #1a1a1a 1px 1px 1px;
}

.signup-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 500px;
  margin-right: 500px;
}

body {
  font-family: "Roboto-Condensed", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: black;
  font-weight: bolder;
  text-shadow: #1a1a1a 1px 1px 1px;
}

h2 {
  font-size: 1.5em;
  padding: 60px;
  color: black;
  font-weight: bolder;
  text-shadow: #1a1a1a 1px 1px 1px;
}

.background-img {
  background-image: url("/public/images/3495641.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

div.transbox {
  margin: 0 30px;
  background-color: #f6e8ce;
  border: 0.2px solid black;
  opacity: 0.8;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: black;
}

p {
  color: black;
  font-weight: bolder;
  text-shadow: #1a1a1a 1px 1px 1px;
}

.searchOptions {
  display: flex;
  direction: row;
  align-items: center;
}

.listing {
  background-color: #1aabe2;
  border-radius: 6px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
  border-color: #1b76b3;
  border: 1px solid #1b76b3;
}

.listings {
  display: flex;
  justify-content: space-evenly;
}
.listingImage {
  width: 20vw;
  height: 20vw;
}

.dropdown-container {
  text-align: left;
  border: 1px solid #ccc;
  display: flex;
  position: relative;
  border-radius: 5px;
  margin: 15px;
  /* margin-left: auto;
  margin-right: auto; */
  width: 200px;
  background-color: white;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  background-color: white;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  background-color: white;
}

.dropdown-item:hover {
  background-color: #9fc3f870;
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.search-box {
  padding: 5px;
  background-color: #eee;
}
.search-box input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}
